**/*.git
**/*.swp
**/.wallpaper.jpg
**/.lockscreen.png
**/.config/mpd/playlists/**
**/.config/mpd/database
**/.config/mpd/log
**/.config/mpd/pid
**/.config/mpd/state
**/.config/mpd/sticker.sql
**/.config/ranger/bookmarks
**/.config/ranger/history
**/.config/ranger/tagged
**/.config/ranger/colorschemes/__pycache__
**/.config/ranger/colorschemes/__*.py
**/.config/ncmpcpp/error.log
**/.config/newsboat/cache.db
**/.config/newsboat/cache.db.lock
**/.config/newsboat/history.cmdline
**/.config/newsboat/history.search
**/.config/newsboat/urls
**/.config/task/backlog.data
**/.config/task/completed.data
**/.config/task/pending.data
**/.config/task/undo.data
**/.vim/plugged
**/.vim/swap
*.directory
*.log
*.sql
*.sqlite
