# vi: ft=sh
# Run commands

# GNOME keyring
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

# Environment agnostic
urxvtd --quiet --opendisplay --fork &
xrdb -merge ~/.Xresources
setxkbmap -option compose:menu
setxkbmap -layout 'us,gr' -option 'grp:alt_shift_toggle'
mpd
unclutter &
