! generic X defaults
! =============================================================================

! fonts
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! colours
#include </home/prot/.my_Xcolors/tempus/tempus_warp.Xcolors>

! urxvt
! =============================================================================

! configurations
#include </home/prot/.my_urxvt/config>

! colours (urxvt specific)
#include </home/prot/.my_urxvt/themes/tempus/tempus_warp.Xcolors>
